@import url("https://fonts.googleapis.com/css2?family=Anton&family=Chelsea+Market&family=Chewy&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Oswald:wght@200;300;400;500&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,500&family=Ranchers&family=Rochester&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
.app {
    background: url(https://www.danidev.net/images/bg.png);
    min-height: 100vh;
    min-width: 100%;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#fa2d00, #ebff03);
    border-radius: 50px;
}

@media screen and (max-width: 1400px) {
    body {
        opacity: 0;
        background: url(https://www.danidev.net/images/bg.png);
    }
    body>.header__left>img {
        opacity: 0;
        top: 50%;
        left: 50%;
    }
    .app {
        display: none;
    }
}